* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    padding: 5rem;
}

.headingC {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    align-items: center;
}